body {
    background-color: #151515;
}

.Germany-text-head {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: white;
    text-align: center;
}

.divider {
    background-color: white;
    height: 1px;
    width: 90%;
    margin: 1vh auto;
    padding-top: 2px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.side-image {
    padding-left: 360px;
    margin-top: -910px;
}

.Logo-image {
    padding-left: 1395px;
    margin-top: -130px;
}

.Force-image {
    padding-left: 1280px;
    margin-top: 100px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: rgb(117, 109, 113);
}

a:active {
    color: rgb(117, 109, 113);
}